In [2]:
# written 3.30.22 by @caramnix
# modified from Connectedness_Fowler2006.ipynb 
import os, json
import xmltodict
import numpy as np
import pandas as pd
import math

In [39]:
#116 House Twitter
os.chdir("/Users/caranix/Library/CloudStorage/OneDrive-TheOhioStateUniversity/Social Influence/Data/Twitter/116/House")
f = open('Twitter_dict_116th_house_legd.json')
H_116_legd = json.load(f)

In [40]:
master_data= pd.read_csv("/Users/caranix/OneDrive - The Ohio State University/2020-2021/Spring/7560/other/merged_data_master.csv")
#u_id_nums= np.unique(master_data["ID"])

In [41]:
def get_id_from_handle(handle):
    try:
        return(master_data.loc[master_data["handle"] == handle]["ID"].to_numpy()[0])
    except IndexError: 
        if handle == "repdonyoung": 
            return(1256)
        if handle == "RepArmstrongND": 
            return(2417)
        if handle == "PeterWelch": 
            return(1879)
        if handle == "RepDustyJohnson": 
            return(2439)
        if handle == "RepLizCheney": 
            return(2356)
        if handle == "RepLBR": 
            return(2313)
        if handle =="hornforcongress": 
            return(2431)
        if handle =="DennyHeck":
            return(2170)
        if handle =="JoeKennedy":
            return(2172)
        if handle =="SeanDuffyWI": 
            return(2072)
        if handle =="tomreedny23":
            return(1982)
        if handle =="DonnaShalala":
            return(2391)
        if handle =="RepJamesComer":
            return(2297)
        if handle =="benmcadams": 
            return(2452)

In [47]:
#FOWLER VERSION OF COSPONSORSHIP 
#attach cosponsors to sponsors in directed fashion 

DICT= H_116_legd
u_id_nums= np.unique(master_data["ID"])
probs = np.array([2313, 1256, 2417,1879,2439, 2356])
u_id_nums = np.append(u_id_nums,probs)


adjf_ = pd.DataFrame(index=u_id_nums, columns= u_id_nums)
adjf_ = adjf_.fillna(0)

for key in DICT.keys(): 
    author_id= get_id_from_handle(key)
    n_mentions= len(DICT[key])
    for i in range(0,n_mentions): 
        mention_id = get_id_from_handle(DICT[key][i])
        #print(author_id,mention_id)
        adjf_.loc[int(author_id)][int(mention_id)] += 1

In [48]:
adjf_

,91,99,165,186,208,231,256,279,281,303,...,2479,2480,2481,2483,2313,1256,2417,1879,2439,2356
91,9,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
99,0,49,0,0,0,0,0,4,1,0,...,0,0,0,0,0,2,0,0,0,0
165,0,0,41,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
186,0,0,0,29,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
208,1,0,0,0,151,1,4,1,3,0,...,0,0,0,0,2,0,0,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1256,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,75,0,0,0,4
2417,0,0,0,3,1,0,1,0,1,0,...,0,0,0,0,0,0,94,0,14,5
1879,0,0,0,0,2,0,5,0,1,1,...,0,0,0,0,0,0,0,24,0,0
2439,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,15,0,96,2
2356,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,21

In [49]:
adjf_.to_csv("adj_mat_Twitter_House_116.csv")

In [3]:
#116 Senate Twitter
os.chdir("/Users/caranix/Library/CloudStorage/OneDrive-TheOhioStateUniversity/Social Influence/Data/Twitter/116/Senate/senate_116_tweets")
f = open('Twitter_dict_116th_senate_legd.json')
S_116_legd = json.load(f)

In [4]:
master_data= pd.read_csv("/Users/caranix/Library/CloudStorage/OneDrive-TheOhioStateUniversity/Social Influence/Data/Congress/116/Senate/116senate_username_ID.csv")

In [5]:
def get_id_from_handle(handle):
    try:
        return(master_data.loc[master_data["handle"] == handle]["ID"].to_numpy()[0])
    except IndexError: 
        #if handle == "repdonyoung": 
        if handle =="RepJamesComer":
            return(2297)
        if handle =="benmcadams": 
            return(2452)

In [7]:
#FOWLER VERSION OF COSPONSORSHIP 
#attach cosponsors to sponsors in directed fashion 

DICT= S_116_legd
u_id_nums= np.unique(master_data["ID"])
#probs = np.array([2313, 1256, 2417,1879,2439, 2356])
#u_id_nums = np.append(u_id_nums,probs)


adjf_116S = pd.DataFrame(index=u_id_nums, columns= u_id_nums)
adjf_116S = adjf_116S.fillna(0)


for key in DICT.keys(): 
    author_id= get_id_from_handle(key)
    n_mentions= len(DICT[key])
    for i in range(0,n_mentions): 
        mention_id = get_id_from_handle(DICT[key][i])
        #print(author_id,mention_id)
        adjf_116S.loc[author_id][mention_id] += 1

In [8]:
adjf_116S

,136,153,172,174,179,250,326,452,457,583,...,2339,2364,2365,2366,2462,2464,2466,2470,2474,2482
136,148,1,0,1,3,4,14,0,2,0,...,3,8,10,0,1,1,0,0,0,1
153,0,10,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
172,2,3,167,1,12,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
174,0,0,0,106,5,0,4,0,0,0,...,3,2,3,0,0,0,0,0,0,0
179,6,2,5,16,110,0,11,1,5,1,...,3,4,11,0,4,0,7,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2464,6,0,0,0,0,0,0,10,0,8,...,0,0,0,1,12,530,1,0,8,0
2466,1,0,0,0,0,0,3,2,2,0,...,0,3,1,0,4,0,115,0,0,0
2470,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2474,0,1,0,0,0,1,0,6,1,0,...,0,0,0,2,4,14,2,0,248,0
2482,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [9]:
adjf_116S.to_csv("adj_mat_Twitter_Senate_116.csv")

In [13]:
#115 House Twitter
os.chdir("/Users/caranix/Library/CloudStorage/OneDrive-TheOhioStateUniversity/Social Influence/Data/Twitter/115/115_House/house_115_tweets")
f = open('Twitter_dict_115th_house_legd.json')
H_115_legd = json.load(f)

In [14]:
master_data= pd.read_csv("/Users/caranix/Library/CloudStorage/OneDrive-TheOhioStateUniversity/Social Influence/Data/Congress/115/115house_username_ID.csv")

In [15]:
def get_id_from_handle(handle):
    try:
        return(master_data.loc[master_data["screen_name"] == handle]["ID"].to_numpy()[0])
    except IndexError: 
        if handle == "repdonyoung": 
            return(1256)

In [16]:
#FOWLER VERSION OF COSPONSORSHIP 
#attach cosponsors to sponsors in directed fashion 

DICT= H_115_legd
u_id_nums= np.unique(master_data["ID"])
#probs = np.array([2313, 1256, 2417,1879,2439, 2356])
#u_id_nums = np.append(u_id_nums,probs)


adjf_116S = pd.DataFrame(index=u_id_nums, columns= u_id_nums)
adjf_116S = adjf_116S.fillna(0)


for key in DICT.keys(): 
    author_id= get_id_from_handle(key)
    n_mentions= len(DICT[key])
    for i in range(0,n_mentions): 
        mention_id = get_id_from_handle(DICT[key][i])
        #print(author_id,mention_id)
        adjf_116S.loc[author_id][mention_id] += 1

In [17]:
adjf_116S.to_csv("/Users/caranix/Library/CloudStorage/OneDrive-TheOhioStateUniversity/Social Influence/Data/Twitter/115/115_House/adj_mat_Twitter_House_115.csv")

In [18]:
#115 Senate Twitter
os.chdir("/Users/caranix/Library/CloudStorage/OneDrive-TheOhioStateUniversity/Social Influence/Data/Twitter/115/115_Senate/senate_115_tweets")
f = open('Twitter_dict_115th_senate_legd.json')
S_115_legd = json.load(f)

In [19]:
master_data= pd.read_csv("/Users/caranix/Library/CloudStorage/OneDrive-TheOhioStateUniversity/Social Influence/Data/Congress/115/115senate_username_ID.csv")

In [21]:
master_data

,Unnamed: 0,Last.Name,X.x,Party,Full.Name,ID,Token,Uid,Link,state,first.name,party,X.y
0,1,alexander,1695,R,"Sen. Alexander, Lamar [R-TN]",1695,SenAlexander,7.664973e+07,https://twitter.com/SenAlexander,TN,Lamar,R,NaN
1,2,baldwin,1558,D,"Sen. Baldwin, Tammy [D-WI]",1558,SenatorBaldwin,1.074519e+09,https://twitter.com/SenatorBaldwin,WI,Tammy,D,NaN
2,3,barrasso,1881,R,"Sen. Barrasso, John [R-WY]",1881,SenJohnBarrasso,2.022067e+08,https://twitter.com/SenJohnBarrasso,WY,John,R,NaN
3,4,bennet,1965,D,"Sen. Bennet, Michael F. [D-CO]",1965,SenBennetCO,2.242852e+08,https://twitter.com/SenBennetCO,CO,Michael,D,SenatorBennet
4,5,blumenthal,2076,D,"Sen. Blumenthal, Richard [D-CT]",2076,SenBlumenthal,2.781241e+08,https://twitter.com/SenBlumenthal,CT,Richard,D,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,101,warren,2182,D,"Sen. Warren, Elizabeth [D-MA]",2182,SenWarren,9.702073e+08,https://twitter.com/SenWarren,MA,Elizabeth,D,NaN
101,102,whitehouse,1823,D,"Sen. Whitehouse, Sheldon [D-RI]",1823,SenWhitehouse,2.425560e+08,https://twitter.com/SenWhitehouse,RI,Sheldon,D,NaN
102,103,wicker,1226,R,"Sen. Wicker, Roger F. [R-MS]",1226,SenatorWicker,2.642194e+08,https://twitter.com/SenatorWicker,MS,Roger,R,NaN
103,104,wyden,1247,D,"Sen. Wyden, Ron [D-OR]",1247,RonWyden,2.501888e+08,https://twitter.com/RonWyden,OR,Ron,D,NaN
104,105,young,2019,R,"Sen. Young, Todd [R-IN]",2019,SenToddYoung,2.341285e+08,https://twitter.com/SenToddYoung,IN,Todd,R,NaN

In [24]:
def get_id_from_handle(handle):
    try:
        return(master_data.loc[master_data["Token"] == handle]["ID"].to_numpy()[0])
    except IndexError: 
        if handle == "KamalaHarris": 
            return(2301)
        if handle == "SenFranken": 
            return(171968009)
        if handle == "JohnCornyn": 
            return(13218102)
        if handle == "MarkWarner": 
            return(7429102)
        if handle == "SenatorFischer": 
            return(1071402577)
        #used UID, real one dne
        if handle == "SenatorIsakson": 
            return(78403308)
        if handle =="SenatorMenendez": 
            return(18695134)
        if handle =="SenCortezMasto": 
            return(811000000)
        if handle == "SenJohnKennedy": 
            return(817000000)
        if handle =="GrahamBlog":
            return(452)

In [25]:
#FOWLER VERSION OF COSPONSORSHIP 
#attach cosponsors to sponsors in directed fashion 

DICT= S_115_legd
u_id_nums= np.unique(master_data["X.x"])
probs = np.array([78403308, 1071402577, 7429102, 13218102, 171968009, 18695134, 811000000]) #, 1256, 2417,1879,2439, 2356])
u_id_nums = np.append(u_id_nums,probs)
#probs = np.array([2313, 1256, 2417,1879,2439, 2356])
#u_id_nums = np.append(u_id_nums,probs)


adjf_116S = pd.DataFrame(index=u_id_nums, columns= u_id_nums)
adjf_116S = adjf_116S.fillna(0)


for key in DICT.keys(): 
    author_id= get_id_from_handle(key)
    n_mentions= len(DICT[key])
    for i in range(0,n_mentions): 
        mention_id = get_id_from_handle(DICT[key][i])
        #print(author_id,mention_id)
        adjf_116S.loc[author_id][mention_id] += 1

In [26]:
adjf_116S

,136,153,172,174,179,213,250,326,452,457,...,2364,2365,2366,78403308,1071402577,7429102,13218102,171968009,18695134,811000000
136,156,0,4,4,4,0,2,10,2,10,...,0,0,0,0,0,0,0,6,8,18
153,0,56,6,0,0,0,0,0,4,0,...,0,0,0,2,0,32,2,0,0,0
172,0,14,280,2,2,0,0,0,8,12,...,0,0,0,0,4,0,0,0,4,0
174,6,0,0,216,20,2,2,8,4,0,...,2,0,0,0,0,6,0,2,8,0
179,2,0,6,10,332,0,2,12,4,0,...,2,0,0,2,0,4,0,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7429102,2,86,2,6,10,0,2,24,4,0,...,2,0,0,6,0,910,4,0,0,2
13218102,2,20,0,4,2,2,2,2,28,80,...,0,0,0,6,6,14,2130,2,12,2
171968009,12,0,6,0,0,0,0,16,0,20,...,0,0,0,0,0,0,2,48,0,12
18695134,14,0,12,8,4,0,4,24,22,4,...,0,0,0,8,0,2,0,2,602,46
811000000,26,14,6,4,2,0,2,42,4,0,...,0,0,0,2,0,6,8,10,42,388

In [27]:
adjf_116S.to_csv("/Users/caranix/Library/CloudStorage/OneDrive-TheOhioStateUniversity/Social Influence/Data/Twitter/115/115_Senate/adj_mat_Twitter_Senate_115.csv")